@media screen and (max-width:950px) {
  .nav_1 {
    display: none;
  }

  .menu {
    display: block;
  }
  .footer_tabs{
    display: flex;
    flex-wrap: wrap;
}
.footer_para{
  text-align: center;
}
footer{
  margin-right: auto;
  margin-left:auto;
}
.body_container_2{
  display: block;
}
.body_container_2 >.div2{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.body_container_3{
  display: block;
}
.body_container_3 >.div2{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
}
@media screen and (max-width:565px){
  form>input {
    width: 200px;
  }
}
@media screen and (min-width:950px) {
  * {
    margin: 0 auto;
    padding: 0px;
  }
}