body {
    background-color: rgba(0, 0, 0, 0.962);
}

.main {
    position: relative;
}

/* icon */
.icon img {
    width: 70px;
    height: 70px;
    transform: rotate(90deg);
    padding-inline: 10px;
}

/* Navigation bar */
.navbar {
    margin-top: 2px;
    position: sticky;
    top: 1px;
    z-index: 2;
    background-color: rgb(12, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:5px 5px 9px black;
}

.nav_links {
    color: white;
    margin: 50px;
    text-decoration: none;
    font-size: 22px;
}

.tutorials {
    position: relative;
}

.nav_dropdown {
    position: absolute;
    top: 20px;
    display: none;
    width: 100%;
    /* background-color: azure;
    border: 2px solid black; */
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
}

.tutorials:hover>.nav_dropdown {
    display: block;
}

.nav_dropdown >li {
    list-style-type: none;
    text-align: center;
}

.nav_dropdown>li:hover {
    border-left: 4px solid rgb(255, 255, 255);
    transition: ease-in-out 0.1s;
    padding-left: 3px;
}

.drop_list {
    text-decoration: none;
    color: rgb(0, 187, 255);
}

.tutorials:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.references {
    position: relative;
}

.references:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.references:hover>.nav_dropdown {
    display: block;
}

.exercises {
    position: relative;
}

.exercises:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.exercises:hover>.nav_dropdown {
    display: block;
}

.sign_up:hover a {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.nav_1 {
    display: flex;
    align-items: center;
}

.create_website{
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 3px;
}

.create_website>a {
    font-size: 22px;
    color: grey;
    text-decoration: none;
}

.create_website:hover {
    color: white;
    transition: all 0.2s;
    text-decoration: aqua overline;
}
.create_website:hover> a{
    color: rgb(255, 255, 255);
}

.log_in:hover a {
    color: rgba(0, 255, 255, 0.5);
    transition: 0.2s all;
}

.menu {
    color: white;
    margin: 10px;
    display: none;
}

.content {
    text-align: center;
    margin: 10px;
    font-family: 'Alata', sans-serif;
}

.content h1 {
    letter-spacing: 7px;
    font-size: 80px;
    color: white;
}

.content p {
    color: aqua;
    font-size: 20px;
}

.containers {
    display: flex;
    justify-content: center;
    margin: 20px;
    box-shadow: 5px 5px 8px black;
    padding: 5px;
}

.div1 {
    border: 2px solid rgba(0, 255, 255, 0.852);
    background-color: rgba(0, 255, 255, 0.852);
    font-size: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1:hover p {
    text-decoration: underline;
    color: white;
    text-shadow: 3px 3px 5px rgb(68, 67, 67);
    transition: all 0.5s;
}

.div2 {
    box-sizing: border-box;
    border: 2px solid rgba(0, 255, 255, 0.852);
    text-align: left;
    width: 400px;
    padding: 10px;
    color: grey;
    backdrop-filter: blur(15px);
}
.div2 h5 {
    font-size: 25px;
    text-decoration: underline;
}

.div2> .btn {
    padding: 10px;
    border: 2px solid grey;
    background-color: black;
}

.div2>.btn a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    font-weight: bold;
}


.content2 {
    color: black;
    font-family: 'Alata', sans-serif;
    padding-top: 10px;
    background-color: rgba(37, 255, 248, 0.852);
    margin: 30px;
    box-shadow: 5px 5px 8px black;
}
.content2 h1 {
    margin-right:50px;
    text-align: left;
    padding-left: 40px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 7px;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.content2 p{
    text-align: justify;
    padding: 0px 50px ;
    padding-bottom: 20px;
}
footer{
    background-color:  rgba(20, 20, 20, 0.962);
    padding: 10px;
}
.footer_icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer_icon img{
    padding: 5px;
    border: 2px solid white;
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
}
.footer_tabs{
    display: flex;
    justify-content: space-evenly;
}
.footer_button{
    width: 250px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    font-size:15px;
    padding: 15px; 
    color: gray;
    background-color: rgba(0, 0, 0, 0.856);
    font-family: 'Courier New', Courier, monospace;
}
.footer_button:hover{
   color: white;
}
.footer_icon_container{
        text-align: right;
        letter-spacing: 15px;
        margin-top:10px;
}
.footer_para{
    color: rgba(255, 255, 255, 0.822);
    text-align: center;
    font-size:10px;
    margin: 10px;
    letter-spacing: 2px;
}
.footer_icons a{
    color: white;
}
.footer_icons a:hover{
    color: rgb(31, 13, 229);
}

@media screen and (max-width:660px) {
    .containers {
        display: block;
        text-align: center;
    }

    .div1 {
        font-size: 40px;
        margin-bottom: 5px;
        width: 397px;
    }

    .div2 {
        margin-bottom: 50px;
    }
    footer{
        display: block;
    }

}

@media screen and (max-width:950px) {
    .nav_1 {
      display: none;
    }
    .menu {
      display: block;
    }
    .footer_tabs{
      display: flex;
      flex-wrap: wrap;
  }
  .footer_para{
    text-align: center;
  }
  footer{
    margin-right: auto;
    margin-left:auto;
  }
  .body_container_2{
    display: block;
  }
  .body_container_2 >.div2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  }