body{
    background-color: rgba(0, 0, 0, 0.962);
}
.main{
       width: auto;
       display: flex;
       align-items: center;
       justify-content: space-around;
       border: 2px solid black;
       background-color: rgb(12, 14, 14);
       padding: 20px;
       color: white;
   }
   @media screen and (max-width:830px){
    .main{
        display: block;
    }
    .div2{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:950px) {
    .nav_1 {
      display: none;
    }
  
    .menu {
      display: block;
    }
    .footer_tabs{
      display: flex;
      flex-wrap: wrap;
  }
  .footer_para{
    text-align: center;
  }
  footer{
    margin-right: auto;
    margin-left:auto;
  }
  .body_container_2{
    display: block;
  }
  .body_container_2 >.div2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  }
  @media screen and (max-width:565px){
    form>input {
      width: 200px;
    }
  }

/* icon */
.icon img {
    width: 70px;
    height: 70px;
    transform: rotate(90deg);
}

/* Navigation bar */
.navbar {
    margin-top: 2px;
    position: sticky;
    top: 1px;
    z-index: 1;
    background-color: rgb(12, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:5px 5px 9px black;
}

.nav_links {
    color: white;
    margin: 18px;
    text-decoration: none;
    font-size: 16px;
}

.tutorials {
    position: relative;
}

.nav_dropdown {
    position: absolute;
    top: 15px;
    display: none;
    width: 120px;
    padding: 18px;
    backdrop-filter: blur(15px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
}

.tutorials:hover>.nav_dropdown {
    display: block;
}

.nav_dropdown>li {
    list-style-type: none;
    text-align: left;
}

.nav_dropdown>li:hover {
    border-left: 4px solid rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
    padding-left: 3px;
}

.drop_list {
    text-decoration: none;
    color: rgb(0, 187, 255);
}

.tutorials:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.references {
    position: relative;
}

.references:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.references:hover>.nav_dropdown {
    display: block;
}

.exercises {
    position: relative;
}

.exercises:hover .nav_links {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.exercises:hover>.nav_dropdown {
    display: block;
}

.sign_up:hover a {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    transition: 0.3s all;
    color: rgba(0, 255, 255, 0.5);
}

.nav_1 {
    display: flex;
    align-items: center;
}
.create_website{
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 3px;
}

.create_website>a {
    font-size: 22px;
    color: grey;
    text-decoration: none;
}

.create_website:hover {
    color: white;
    transition: all 0.2s;
    text-decoration: aqua overline;
}
.create_website:hover> a{
    color: rgb(255, 255, 255);
}

.get_certified{
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 3px;
}

.get_certified a {
    font-size: 22px;
    color: grey;
    text-decoration: none;
}

.get_certified:hover {
    color: white;
    transition: all 0.2s;
    text-decoration: aqua overline;
}
.get_certified:hover> a{
    color: rgb(255, 255, 255);
}

.log_in:hover a {
    color: rgba(0, 255, 255, 0.5);
    transition: 0.2s all;
}

.menu {
    color: white;
    margin: 10px;
    display: none;
}
   .div1{
    text-align: center;
    padding: 10px;
   }
   .div1> h1{
    letter-spacing: 3px;
    font-size: 70px;
   }
   .div1> h1:hover{
    color: aqua;
    transition: 0.5s all;
   }
   p> a{
    color:  aqua;
    text-decoration: none;
    font-size: 20px;
   }
   .div2{
    width: 400px;
    padding: 15px;
    font-family: 'Mukta', sans-serif; 
   
    backdrop-filter: blur(15px);
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
   }

   label{
    font-size: 15px;
   }
   input{
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
   }
   .btn{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: aqua;
   }